:root {
    --body-font: "Poppins", sans-serif;
    --color-black: #242424;
    --color-section: linear-gradient(180deg, #0A6CFF 0%, #118086 100%);;
    --color-blue: #0A6CFF;
    --color-ligth-blue: #00C0CB;
    --color-ligth: #fff;
    --footer-color: #0E0E30;
}

html {
    scroll-behavior: smooth;
}

.lead {
    color: var(--color-black);
    line-height: 1.5rem;
}

strong {
    font-weight: 600;
}

main {
    height: 100%;
    width: 100%;
    background-image: url(/media/hero-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 360px) {
    main {
        background-image: url(/media/hero-background-xm.svg);
    }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


footer {
    background-color: var(--footer-color);
}
